.section .content{
    padding: 80px 0px;
}
.content .selector .btn{
    color: var(--textPrimary);
}

.section-title{
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 80px;
    font-weight: 900;
}
div.content p{
    font-weight: 400;
    color: var(--textTertiary);
    font-size: 15px;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
}
.content .btn{
    color: var(--buttonTextColor);
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Playfair Display",serif;
}
.content h2{
    white-space: pre-wrap;
}
