.bg-dark{
    background-color: var(--tertiary) !important;
    padding: 50px;
}
.btn-primary{
    padding: 5px 25px;
    background-color: var(--primary);
    border: none;
}
.btn-primary:hover{
    padding: 5px 25px;
    background-color: var(--primary);
    border: none;
    outline: none;
}
.btn-primary:focus{
    padding: 5px 25px;
    background-color: var(--primary);
    border: none;
    outline: none;
}

.footer-section .section{
    padding: 0px 150px;
}


.footer-section h4{
    padding: 20px;
}

.footer-section .center-block{
    margin: auto;
}