.imageAndContent .title{
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3%;
    color: var(--textTertiary);
    padding: 40px 0px;
}

.imageAndContent .content{
    font-weight: 400;
    color: var(--textTertiary);
    font-size: 15px;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
}

.imageAndContent .image-block{
    text-align: center;
}

.imageAndContent img{
    max-width: 80%;
    height: auto;
}

.imageAndContent .heading1{
    font-size: 22px;
    font-weight: bold;
}
.imageAndContent .container{
    margin-top:5%;
    margin-bottom: 5%;
}