.title{
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3%;
    color: var(--textTertiary);
}

.content{
    font-weight: 400;
    color: var(--textTertiary);
    font-size: 15px;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
}

.image-block{
    text-align: center;
}

img{
    max-width: 80%;
    height: auto;
}

.heading1{
    font-size: 22px;
    font-weight: bold;
}
.container{
    margin-top:5%;
    margin-bottom: 5%;
}